@model LoginViewModel

@{
    ViewData["Title"] = "Passwordless Identity :: Log in";
}

@section Styles {
}


<div class="kt-login__container">
    <div class="kt-login__logo">
        <a href="#">
            <img src="~/media/logo.svg">
        </a>
    </div>
    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Sign In</h3>
        </div>

        <form asp-route="login-submit" class="kt-form" autocomplete="off">
            <partial name="_ValidationSummary" />

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="input-group">
                <input asp-for="Username" type="email" class="form-control" placeholder="Email" autocomplete="off">
            </div>
            <div class="input-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="row kt-login__extra">

                <div class="col kt-align-right">
                    <a asp-route="passwordless" asp-all-route-data="@(new Dictionary<string, string> { { "ReturnUrl", Model.ReturnUrl } })" class="kt-login__link">Sign in with email</a>
                </div>
            </div>
            <div class="kt-login__actions">
                <button type="submit" name="button" value="login" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
            </div>

        </form>
    </div>
</div>

