@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Passwordless Identity :: Change password";
}



<div class="kt-login__container">
    <div class="kt-login__logo">
        <a href="#">
            <img src="~/media/logo.svg">
        </a>
    </div>
    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Change password</h3>
        </div>

        <form asp-route="change-password-submit" class="kt-form" autocomplete="off">
            <partial name="_ValidationSummary" />

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="input-group">
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old password">
            </div>
            <div class="input-group">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New password">
            </div>
            <div class="input-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
            </div>
            <div class="kt-login__actions">
                <button type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Change</button>
            </div>

        </form>
    </div>
</div>