@model ChangePasswordResultViewModel
@inject IOptionsMonitor<SiteConfiguration> Configuration

@{
    ViewData["Title"] = "Passwordless Identity :: Change password";
}


<div class="kt-login__container">
    <div class="kt-login__logo">
        <a href="#">
            <img src="~/media/logo.svg">
        </a>
    </div>
    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Change password</h3>
            <div class="kt-login__desc">Your password has been changed.</div>
        </div>
        <div class="kt-login__actions text-center mt-5">
            <a href="@(string.IsNullOrWhiteSpace(Model.ReturnUrl) ? Configuration.CurrentValue.IdentityUrl : Model.ReturnUrl)" class="btn btn-brand btn-elevate kt-login__btn-primary">Go back</a>
        </div>
    </div>
</div>
